body {
  background-color: #040214;
  width: 90%;
  margin: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter", sans-serif;
  color: rgb(221, 218, 218);
}

#filters {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

/* Modal */

/* The Modal (background) */
#modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #202648;
  margin: auto;
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 100px;
  box-shadow: 5px 5px 10px #353342;
  color: rgb(221, 218, 218);
}

/* The Close Button */
.close {
  color: rgb(221, 218, 218);
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #febf0e;
  text-decoration: none;
  cursor: pointer;
}

/* Inner Modal Layout */

.inner-modal {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
  gap: 10px;
}

#pod-title {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  margin: 0;
  padding: 10px 0;
}

.inner-modal img {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.modal-info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding-left: 20px;
}

.modal-info h1 {
  font-size: 22px;
  margin-top: 0px;
}

#modal-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.podcast-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.podcast-genres p {
  font-size: 14px;
}

.modal-genre-pill,
.podcast-genres p {
  padding: 8px;
  background-color: #febe0e;
  border-radius: 20px;
  color: #040214;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-podcast-seasons {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.modal-podcast-seasons h1 {
  margin-top: 0px;
}

.season {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #febf0e;
  font-size: large;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.season p {
  margin-top: 0;
  margin-bottom: 0;
}

.season span {
  padding-left: 5px;
  color: #febf0e;
}

/* Media queries */

@media (max-width: 1200px) {
  #thumbnail-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .inner-modal {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
}

@media (max-width: 900px) {
  #thumbnail-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .inner-modal {
    display: flex;
    flex-direction: column;
  }

  .inner-modal img {
    width: 70%;
  }

  .modal-info {
    padding-left: 0px;
  }

  .season p {
    font-size: 14px;
  }
  .season p span {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  #thumbnail-container {
    grid-template-columns: 1fr;
  }

  .inner-modal img {
    width: 100%;
  }

  .close {
    font-size: 30px;
  }

  .season p {
    font-size: 10px;
  }
  .season p span {
    font-size: 10px;
  }

  #pod-title {
    font-size: 20px;
  }

  .modal-info h1 {
    font-size: 20px;
  }

  .modal-info p {
    font-size: 12px;
  }

  #podcast-seasons h1 {
    font-size: 20px;
  }
}
